node-red/.flows.json.backup
[{"id":"2cd4c47c.1cb57c","type":"tab","label":"Luiza","disabled":false,"info":""},{"id":"be7a8890.19d538","type":"tab","label":"Luzes","disabled":false,"info":""},{"id":"4803f0d4.04a1b","type":"tab","label":"Cozinha","disabled":false,"info":""},{"id":"2f95aff8.67722","type":"tab","label":"Segurança","disabled":false,"info":""},{"id":"d9a3dff6.c6be6","type":"tab","label":"Testes/Templates","disabled":false,"info":""},{"id":"6e09179c.b400c8","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"ad21a302.73d07","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"93bf11a6.3b001","type":"rmdevice","z":"","folder":"","mac":"c8f742169f41","host":"192.168.1.70"},{"id":"1f62d1eb.cef8be","type":"server-state-changed","z":"be7a8890.19d538","name":"Interruptor Abajur Escritorio","server":"6e09179c.b400c8","version":"1","entityidfilter":"switch.escritorio_abajur","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":120,"y":120,"wires":[["dd4194db.2018f8"]]},{"id":"dd4194db.2018f8","type":"switch","z":"be7a8890.19d538","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":120,"wires":[["ce780183.831c6"],["1c1835e8.78fbba"]]},{"id":"bf013055.5fe96","type":"api-call-service","z":"be7a8890.19d538","name":"Liga Abajur","server":"6e09179c.b400c8","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.tomada_abajur\"}","mergecontext":"","output_location":"","output_location_type":"none","x":1070,"y":60,"wires":[[]]},{"id":"88ecf9d0.c79e48","type":"api-call-service","z":"be7a8890.19d538","name":"Desliga Abajur","server":"6e09179c.b400c8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.tomada_abajur\"}","mergecontext":"","output_location":"","output_location_type":"none","x":1080,"y":160,"wires":[[]]},{"id":"a3f9fb9c.b2cd28","type":"api-current-state","z":"be7a8890.19d538","name":"Se estiver Desligado","server":"6e09179c.b400c8","version":"1","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.tomada_abajur","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":800,"y":60,"wires":[["bf013055.5fe96"],[]]},{"id":"1417591a.32bd17","type":"api-current-state","z":"be7a8890.19d538","name":"Se estiver Ligado","server":"6e09179c.b400c8","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.tomada_abajur","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":790,"y":160,"wires":[["88ecf9d0.c79e48"],[]]},{"id":"1c1835e8.78fbba","type":"api-current-state","z":"be7a8890.19d538","name":"Botão Ativa Automaçao","server":"6e09179c.b400c8","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.auto_abajur_escritorio","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":140,"wires":[["1417591a.32bd17"],[]]},{"id":"ce780183.831c6","type":"api-current-state","z":"be7a8890.19d538","name":"Botão Ativa Automaçao","server":"6e09179c.b400c8","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.auto_abajur_escritorio","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":80,"wires":[["a3f9fb9c.b2cd28"],[]]},{"id":"af8d457a.f22348","type":"comment","z":"be7a8890.19d538","name":"Abajur Escritório","info":"Flow para ligar e desligar o abajur do escritório \nquando clicarmos no interruptor da parede do \nescritório\n","x":80,"y":60,"wires":[]},{"id":"cd5334a0.74b2e8","type":"comment","z":"be7a8890.19d538","name":"Desliga Luzes @ 23h","info":"\n","x":100,"y":260,"wires":[]},{"id":"a7a454dc.8d0f88","type":"api-current-state","z":"be7a8890.19d538","name":"Botão Tem Visita?","server":"6e09179c.b400c8","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.guests","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":310,"y":340,"wires":[[],["fcfffc3e.e717c","dc61a9a3.b810f8","343b2100.05651"]]},{"id":"fcfffc3e.e717c","type":"api-call-service","z":"be7a8890.19d538","name":"Luzes Escritorio","server":"6e09179c.b400c8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.escritorio_teto, switch.escritorio_cubo, switch.escritorio_abajur\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":260,"wires":[[]]},{"id":"dc61a9a3.b810f8","type":"api-call-service","z":"be7a8890.19d538","name":"Luzes Luiza","server":"6e09179c.b400c8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.luiza_led, switch.luiza_2, switch.luiza_3\"}","mergecontext":"","output_location":"","output_location_type":"none","x":570,"y":320,"wires":[[]]},{"id":"343b2100.05651","type":"api-call-service","z":"be7a8890.19d538","name":"Luzes Suíte","server":"6e09179c.b400c8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.suiteteto, switch.suiteled, switch.suiteabajur\"}","mergecontext":"","output_location":"","output_location_type":"none","x":570,"y":380,"wires":[[]]},{"id":"3ffb61a3.318a1e","type":"bigtimer","z":"4803f0d4.04a1b","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Big Timer","comment":"","lat":"-23.0047547","lon":"-43.3723777","starttime":5001,"endtime":1425,"starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":440,"y":40,"wires":[[],[],[]]},{"id":"c8ae4a55.cb0398","type":"inject","z":"4803f0d4.04a1b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":40,"wires":[[]]},{"id":"eb64728d.ee6ca","type":"debug","z":"4803f0d4.04a1b","name":"3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":290,"y":100,"wires":[]},{"id":"b6246416.6112d8","type":"debug","z":"4803f0d4.04a1b","name":"4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":290,"y":160,"wires":[]},{"id":"2d3fc2bd.551ade","type":"inject","z":"d9a3dff6.c6be6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":60,"wires":[["92850105.4c5f9"]]},{"id":"7ecee9f2.d9f388","type":"api-call-service","z":"d9a3dff6.c6be6","name":"Teste TTS - Escritorio","server":"6e09179c.b400c8","service_domain":"tts","service":"google_say","data":"{\"entity_id\":\"media_player.office_speaker2\",\"message\":\"testando o TTS no escritório\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":700,"y":80,"wires":[[]]},{"id":"5349f8cb.4a5098","type":"api-current-state","z":"d9a3dff6.c6be6","name":"","server":"6e09179c.b400c8","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":260,"wires":[["2ea326.dce8ccda","829cedc5.5bb4f"]]},{"id":"147a8617.b4150a","type":"inject","z":"d9a3dff6.c6be6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":260,"wires":[["5349f8cb.4a5098"]]},{"id":"2ea326.dce8ccda","type":"debug","z":"d9a3dff6.c6be6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":220,"wires":[]},{"id":"829cedc5.5bb4f","type":"api-call-service","z":"d9a3dff6.c6be6","name":"Teste TTS - Escritorio","server":"6e09179c.b400c8","service_domain":"tts","service":"google_say","data":"{\"entity_id\":\"media_player.office_speaker2\",\"message\":\"Sol está {{payload}}.\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":600,"y":280,"wires":[[]]},{"id":"168f49cd.9729b6","type":"api-render-template","z":"2f95aff8.67722","name":"Mensagem Porta Sala Aberta","server":"6e09179c.b400c8","template":"\"Porta da sala Aberta\"","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":1030,"y":40,"wires":[["6e93edb.1e37a14"]]},{"id":"cf5001c3.b4d03","type":"comment","z":"2f95aff8.67722","name":"Fala quando Porta Aberta","info":"","x":150,"y":40,"wires":[]},{"id":"eb447eca.94285","type":"api-render-template","z":"2f95aff8.67722","name":"Mensagem Porta Cozinha Aberta","server":"6e09179c.b400c8","template":"\"Porta da Cozinha Aberta\"","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":1040,"y":140,"wires":[["6e93edb.1e37a14"]]},{"id":"5fac3363.e19e4c","type":"server-state-changed","z":"2f95aff8.67722","name":"Alfredo em Casa ?","server":"6e09179c.b400c8","version":1,"entityidfilter":"device_tracker.life360_luiz_lobao","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":340,"wires":[["688d0f1e.a363c"],["15f4b5e2.28152a"]]},{"id":"25bc4e03.badc62","type":"api-current-state","z":"2f95aff8.67722","name":"Visitas ?","server":"6e09179c.b400c8","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.guests","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":620,"y":380,"wires":[[],["cee70dd6.dc8f7"]]},{"id":"cee70dd6.dc8f7","type":"api-call-service","z":"2f95aff8.67722","name":"Casa Vazia","server":"6e09179c.b400c8","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.casa_ocupada\"}","mergecontext":"","output_location":"","output_location_type":"none","x":790,"y":380,"wires":[[]]},{"id":"15f4b5e2.28152a","type":"api-current-state","z":"2f95aff8.67722","name":"Tatiana em casa ?","server":"6e09179c.b400c8","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.life360_tatiana","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":410,"y":340,"wires":[[],["25bc4e03.badc62"]]},{"id":"6f83a44b.74a67c","type":"server-state-changed","z":"2f95aff8.67722","name":"Tatiana em Casa ?","server":"6e09179c.b400c8","version":1,"entityidfilter":"device_tracker.life360_tatiana","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":400,"wires":[["688d0f1e.a363c"],["2633df99.bdc94"]]},{"id":"2633df99.bdc94","type":"api-current-state","z":"2f95aff8.67722","name":"Alfredo em casa ?","server":"6e09179c.b400c8","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.life360_luiz_lobao","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":410,"y":400,"wires":[[],["25bc4e03.badc62"]]},{"id":"688d0f1e.a363c","type":"api-call-service","z":"2f95aff8.67722","name":"Casa Ocupada","server":"6e09179c.b400c8","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.casa_ocupada\"}","mergecontext":"","output_location":"","output_location_type":"none","x":400,"y":460,"wires":[[]]},{"id":"3e87d5c1.ad00fa","type":"server-state-changed","z":"2f95aff8.67722","name":"Cozinha Aberta","server":"6e09179c.b400c8","version":1,"entityidfilter":"binary_sensor.porta_cozinha","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":140,"wires":[["64de6148.7ca02"],[]]},{"id":"ba4828ed.facde8","type":"server-state-changed","z":"2f95aff8.67722","name":"Sala Aberta","server":"6e09179c.b400c8","version":1,"entityidfilter":"binary_sensor.porta_sala","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":80,"wires":[["cc0054da.278a48"],[]]},{"id":"d553b3bc.295fb","type":"server-state-changed","z":"be7a8890.19d538","name":"Movimento no Escritorio","server":"6e09179c.b400c8","version":1,"entityidfilter":"binary_sensor.escritorio_pir","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":480,"wires":[["e72a7789.869828","f63c0755.0647f8"],[]]},{"id":"e72a7789.869828","type":"api-current-state","z":"be7a8890.19d538","name":"Noite ?","server":"6e09179c.b400c8","version":"1","outputs":2,"halt_if":"below_horizon","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":480,"wires":[["dcdd9ce9.a2646"],[]]},{"id":"e09bb32a.c04c8","type":"api-call-service","z":"be7a8890.19d538","name":"Liga Teto Escritorio","server":"6e09179c.b400c8","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.escritorio_teto\"}","mergecontext":"","output_location":"","output_location_type":"none","x":930,"y":480,"wires":[[]]},{"id":"584aa904.3300d8","type":"api-current-state","z":"be7a8890.19d538","name":"Teto Ligado ?","server":"6e09179c.b400c8","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.escritorio_teto","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":720,"y":480,"wires":[[],["e09bb32a.c04c8"]]},{"id":"5e925663.faed38","type":"server-state-changed","z":"be7a8890.19d538","name":"São 23h ?","server":"6e09179c.b400c8","version":"1","entityidfilter":"sensor.time","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"23:00","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":80,"y":300,"wires":[["a7a454dc.8d0f88"],[]]},{"id":"dcdd9ce9.a2646","type":"api-current-state","z":"be7a8890.19d538","name":"Abajur Ligado ?","server":"6e09179c.b400c8","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.escritorio_abajur","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":480,"wires":[[],["584aa904.3300d8"]]},{"id":"919aa625.6192f8","type":"server-state-changed","z":"be7a8890.19d538","name":"São 24h ?","server":"6e09179c.b400c8","version":"1","entityidfilter":"sensor.time","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"00:00","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":80,"y":340,"wires":[["a7a454dc.8d0f88"],[]]},{"id":"95a8c1f8.3a75d","type":"server-state-changed","z":"be7a8890.19d538","name":"São 1h ?","server":"6e09179c.b400c8","version":"1","entityidfilter":"sensor.time","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"01:00","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":80,"y":380,"wires":[["a7a454dc.8d0f88"],[]]},{"id":"28cc28db.f5bf28","type":"RM","z":"d9a3dff6.c6be6","name":"Broadlink","device":"93bf11a6.3b001","action":"learn","remote":"","button":"","fix":1,"RFSweep":"false","x":240,"y":440,"wires":[["4fe42904.c1ce28"]]},{"id":"3c509803.2acd48","type":"inject","z":"d9a3dff6.c6be6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":440,"wires":[["28cc28db.f5bf28"]]},{"id":"4fe42904.c1ce28","type":"template","z":"d9a3dff6.c6be6","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"'{{payload.data}}'.","output":"str","x":380,"y":440,"wires":[["7fea68d5.3b2d48"]]},{"id":"7fea68d5.3b2d48","type":"debug","z":"d9a3dff6.c6be6","name":"broadlink","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":520,"y":440,"wires":[]},{"id":"1c95dab.5f3f325","type":"RM","z":"d9a3dff6.c6be6","name":"Broadlink","device":"93bf11a6.3b001","action":"_msg_","remote":"","button":"","fix":1,"RFSweep":"false","x":460,"y":560,"wires":[["98910a61.33c638"]]},{"id":"50d8cc16.8f5f34","type":"inject","z":"d9a3dff6.c6be6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":620,"wires":[["ce963be6.73c7a8"]]},{"id":"79cbed30.458634","type":"template","z":"d9a3dff6.c6be6","name":"guide","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n   \"action\" : \"send\",\n   \"data\" : [38,0,182,0,16,7,7,34,4,16,4,36,4,65,5,20,6,39,7,24,6,8,4,27,4,0,11,141,15,8,7,7,7,19,7,13,7,6,8,19,7,6,5,11,7,6,8,19,5,20,7,13,6,20,6,24,6,9,7,24,6,7,8,0,11,123,13,11,5,69,5,35,5,9,5,151,5,40,6,0,11,124,15,9,6,7,8,19,5,15,5,9,6,20,5,9,7,6,7,9,5,20,6,40,5,20,5,26,5,9,7,24,7,6,7,0,11,124,15,9,6,7,7,40,5,9,7,19,5,9,7,6,8,8,7,64,5,20,6,25,7,6,8,25,5,9,7,0,11,123,14,9,7,7,7,19,5,15,6,8,7,19,5,9,7,7,7,8,6,46,4,15,5,21,5,25,6,9,6,25,6,7,8,0,13,5,0,0]\n}","output":"json","x":270,"y":580,"wires":[["1c95dab.5f3f325"]]},{"id":"98910a61.33c638","type":"debug","z":"d9a3dff6.c6be6","name":"broadlink_send","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":680,"wires":[]},{"id":"ce963be6.73c7a8","type":"template","z":"d9a3dff6.c6be6","name":"mute","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n   \"action\" : \"send\",\n   \"data\" : [38,0,146,1,13,0,1,9,5,0,11,190,13,11,5,7,5,57,5,20,5,10,5,9,5,10,5,105,6,7,7,26,5,15,5,0,11,124,15,9,7,6,7,20,5,29,6,20,6,7,7,9,6,7,7,20,5,20,5,40,6,7,8,8,7,24,7,13,7,0,11,123,15,8,6,9,6,20,5,14,7,6,7,21,4,10,6,8,5,10,5,20,5,21,6,14,5,20,5,8,8,7,4,28,5,15,6,0,11,124,14,9,7,6,8,19,5,15,6,7,8,33,7,7,7,34,5,20,7,14,5,20,6,6,5,12,6,24,6,14,7,0,11,123,15,8,7,7,8,19,5,15,5,9,7,18,7,6,7,9,7,6,9,19,5,20,6,14,5,20,7,6,7,9,5,26,7,13,7,0,11,123,15,7,8,6,8,19,7,13,7,7,5,21,5,9,7,6,8,9,5,20,7,18,7,13,7,19,5,9,7,6,7,25,7,13,7,0,11,123,16,6,7,9,6,20,6,14,6,7,7,20,6,6,5,12,5,9,7,19,6,19,5,15,6,19,6,9,6,7,7,25,7,13,7,0,11,123,16,6,7,9,5,20,6,14,6,9,6,19,7,7,7,7,7,34,7,18,7,13,6,20,6,7,8,6,8,25,6,14,6,0,11,123,16,6,9,6,7,20,7,13,5,9,7,19,6,7,8,6,7,9,5,21,6,19,7,13,7,18,7,6,7,9,6,25,7,13,7,0,11,123,15,8,7,7,7,19,6,15,4,10,5,20,7,6,7,9,7,7,6,20,5,21,5,15,5,20,5,6,9,9,5,26,6,14,5,0,11,124,15,8,6,7,9,19,6,14,6,7,7,20,6,8,6,23,4,22,6,19,6,14,6,19,7,6,8,7,6,26,4,16,6,0,13,5,0,0,0,0,0,0]\n}","output":"json","x":270,"y":620,"wires":[["1c95dab.5f3f325"]]},{"id":"6e2749d6.5b4448","type":"inject","z":"d9a3dff6.c6be6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":560,"wires":[["79cbed30.458634"]]},{"id":"34920426.f8de6c","type":"template","z":"d9a3dff6.c6be6","name":"exit","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n   \"action\" : \"send\",\n   \"data\" : [38,0,118,0,13,111,4,195,4,0,11,146,15,7,7,9,5,20,6,14,7,6,8,19,6,9,6,7,7,8,6,20,7,19,5,14,7,19,7,13,6,14,6,14,5,15,5,0,11,124,14,50,4,56,4,66,4,22,4,16,4,21,4,16,4,16,4,16,4,0,11,146,14,9,6,9,4,195,4,0,11,231,14,24,5,21,5,98,5,21,4,22,5,15,5,20,4,0,11,206,14,9,5,35,5,55,4,25,5,10,4,22,5,20,6,40,4,76,5,0,13,5,0,0]\n}","output":"json","x":270,"y":660,"wires":[["1c95dab.5f3f325"]]},{"id":"1ce80f6e.33f711","type":"inject","z":"d9a3dff6.c6be6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":660,"wires":[["34920426.f8de6c"]]},{"id":"8fc356b7.758e08","type":"inject","z":"d9a3dff6.c6be6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":740,"wires":[["671a24e7.2bc55c"]]},{"id":"671a24e7.2bc55c","type":"template","z":"d9a3dff6.c6be6","name":"1","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n   \"action\" : \"send\",\n   \"data\" : [38,0,124,0,12,0,12,210,13,0,12,210,13,11,5,9,5,55,5,64,5,8,5,22,5,40,5,10,5,9,5,10,5,0,11,178,13,10,7,6,8,19,6,14,7,6,8,19,5,9,7,7,7,8,6,9,5,20,6,14,6,20,6,7,8,6,8,7,8,13,5,0,11,158,15,9,6,7,8,19,5,15,5,9,7,34,6,6,5,12,4,35,7,13,5,20,7,6,8,7,8,8,4,16,5,0,11,158,14,49,4,16,4,36,4,11,5,9,4,51,4,42,4,59,4,0,13,5,0,0,0,0,0,0,0,0,0,0,0,0]\n}","output":"json","x":270,"y":740,"wires":[["1c95dab.5f3f325"]]},{"id":"18102a3d.549da6","type":"inject","z":"d9a3dff6.c6be6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":700,"wires":[["5109ac39.185184"]]},{"id":"5109ac39.185184","type":"template","z":"d9a3dff6.c6be6","name":"last","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n   \"action\" : \"send\",\n   \"data\" : [38,0,166,0,15,8,7,7,7,20,6,14,5,9,6,19,7,6,8,9,5,9,4,22,4,21,5,15,6,19,6,8,4,11,5,20,7,19,7,0,11,123,13,0,12,203,13,11,5,69,5,20,6,9,5,9,6,105,5,9,4,36,6,20,5,0,11,125,14,9,7,6,5,42,7,6,7,20,5,9,7,6,8,7,7,90,6,9,19,21,7,18,7,0,11,123,14,10,5,9,5,20,7,13,7,6,7,20,4,11,5,9,6,9,5,20,7,19,5,15,6,19,5,9,7,7,7,19,7,19,7,0,11,122,15,9,4,11,5,20,5,15,19,21,6,7,8,6,5,11,6,20,5,20,7,13,7,18,7,7,7,8,4,22,7,18,7,0,13,5,0,0]\n}","output":"json","x":270,"y":700,"wires":[["1c95dab.5f3f325"]]},{"id":"1bb28d3.bd5e573","type":"inject","z":"d9a3dff6.c6be6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":780,"wires":[["105c5b28.800f25"]]},{"id":"105c5b28.800f25","type":"template","z":"d9a3dff6.c6be6","name":"4","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n   \"action\" : \"send\",\n   \"data\" : [38,0,46,0,13,0,12,221,13,0,12,220,13,0,12,221,14,9,6,9,5,40,6,7,5,22,5,10,5,9,5,35,5,21,4,41,5,9,6,7,5,31,5,0,11,158,13,0,13,5,0,0,0,0,0,0,0,0,0,0]\n}","output":"json","x":270,"y":780,"wires":[["1c95dab.5f3f325"]]},{"id":"76609d56.5f5ec4","type":"api-call-service","z":"d9a3dff6.c6be6","name":"Volume 80%","server":"6e09179c.b400c8","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.office_speaker2\",\"volume_level\":0.8}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":450,"y":20,"wires":[["7ecee9f2.d9f388"]]},{"id":"92850105.4c5f9","type":"api-current-state","z":"d9a3dff6.c6be6","name":"É Dia?","server":"6e09179c.b400c8","version":1,"outputs":2,"halt_if":"above_horizon","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":270,"y":60,"wires":[["6ed1fa77.c3ae94","76609d56.5f5ec4"],["e93d7071.9cd79","ed25b104.9a9b1"]]},{"id":"ed25b104.9a9b1","type":"api-call-service","z":"d9a3dff6.c6be6","name":"Volume 50%","server":"6e09179c.b400c8","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.office_speaker2\",\"volume_level\":0.5}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":450,"y":80,"wires":[["7ecee9f2.d9f388"]]},{"id":"f198820d.a24a7","type":"api-current-state","z":"2f95aff8.67722","name":"É Dia?","server":"6e09179c.b400c8","version":1,"outputs":2,"halt_if":"above_horizon","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":490,"y":60,"wires":[["b1317dd1.7bd18"],["a83f52a2.d55f"]]},{"id":"a83f52a2.d55f","type":"api-call-service","z":"2f95aff8.67722","name":"Volume 60%","server":"6e09179c.b400c8","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.office_speaker2, media_player.master_bedroom, media_player.kitchen_speaker\",\"volume_level\":0.6}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":650,"y":100,"wires":[["168f49cd.9729b6"]]},{"id":"b1317dd1.7bd18","type":"api-call-service","z":"2f95aff8.67722","name":"Volume 80%","server":"6e09179c.b400c8","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.office_speaker2, media_player.master_bedroom, media_player.kitchen_speaker\",\"volume_level\":0.8}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":650,"y":40,"wires":[["168f49cd.9729b6"]]},{"id":"7c92f4cb.bd1b2c","type":"api-call-service","z":"2f95aff8.67722","name":"Volume 80%","server":"6e09179c.b400c8","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.office_speaker2, media_player.master_bedroom, media_player.kitchen_speaker\",\"volume_level\":0.8}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":650,"y":160,"wires":[["eb447eca.94285"]]},{"id":"b98fd2e8.9eeaa","type":"api-call-service","z":"2f95aff8.67722","name":"Volume 60%","server":"6e09179c.b400c8","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.office_speaker2, media_player.master_bedroom, media_player.kitchen_speaker\",\"volume_level\":0.6}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":650,"y":220,"wires":[["eb447eca.94285"]]},{"id":"c9917419.4ecfb8","type":"api-current-state","z":"2f95aff8.67722","name":"É Dia?","server":"6e09179c.b400c8","version":1,"outputs":2,"halt_if":"above_horizon","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":470,"y":180,"wires":[["7c92f4cb.bd1b2c"],["b98fd2e8.9eeaa"]]},{"id":"e93d7071.9cd79","type":"debug","z":"d9a3dff6.c6be6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":140,"wires":[]},{"id":"6ed1fa77.c3ae94","type":"debug","z":"d9a3dff6.c6be6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":140,"wires":[]},{"id":"cc0054da.278a48","type":"api-current-state","z":"2f95aff8.67722","name":"Avisar por TTS ?","server":"6e09179c.b400c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.auto_aviso_porta_aberta","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":310,"y":80,"wires":[["f198820d.a24a7"],[]]},{"id":"64de6148.7ca02","type":"api-current-state","z":"2f95aff8.67722","name":"Avisar por TTS ?","server":"6e09179c.b400c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.auto_aviso_porta_aberta","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":310,"y":140,"wires":[["c9917419.4ecfb8"],[]]},{"id":"8ae65f13.05c73","type":"api-call-service","z":"2cd4c47c.1cb57c","name":"Watson","server":"6e09179c.b400c8","service_domain":"tts","service":"watson_tts_say","data":"{\"entity_id\":\"media_player.office_speaker2, media_player.kitchen_speaker\",\"message\":\"Adivinha quem deve estar chegando. O tio João. Vamos descer logo. Um grande beijo pra você. Boa aula.\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1020,"y":300,"wires":[[]]},{"id":"f8a840ba.705a3","type":"switch","z":"2cd4c47c.1cb57c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":810,"y":100,"wires":[["ed015de8.6c885"],["f6e73ff4.d07b4"],["83398932.3c9438"],["6d74a831.e6d3c8"],["bc650ea4.944c2"],["2c091ffb.059a7"],["8ae65f13.05c73"]]},{"id":"e185d527.b66148","type":"random","z":"2cd4c47c.1cb57c","name":"","low":"1","high":"7","inte":"true","property":"payload","x":440,"y":100,"wires":[["e25a6f9d.777ae"]]},{"id":"ed015de8.6c885","type":"api-call-service","z":"2cd4c47c.1cb57c","name":"Watson","server":"6e09179c.b400c8","service_domain":"tts","service":"watson_tts_say","data":"{\"entity_id\":\"media_player.office_speaker2, media_player.kitchen_speaker\",\"message\":\"Bom dia Luiza! Está na hora de descer. A van do tio João já está chegando. Boa Aula!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1020,"y":60,"wires":[[]]},{"id":"f6e73ff4.d07b4","type":"api-call-service","z":"2cd4c47c.1cb57c","name":"Watson","server":"6e09179c.b400c8","service_domain":"tts","service":"watson_tts_say","data":"{\"entity_id\":\"media_player.office_speaker2, media_player.kitchen_speaker\",\"message\":\"Lulu, o tio João já deve estar chegando. Hora de descer. Não esquece do seu lanchinho.\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1020,"y":100,"wires":[[]]},{"id":"83398932.3c9438","type":"api-call-service","z":"2cd4c47c.1cb57c","name":"Watson","server":"6e09179c.b400c8","service_domain":"tts","service":"watson_tts_say","data":"{\"entity_id\":\"media_player.office_speaker2, media_player.kitchen_speaker\",\"message\":\"Luiza, hora de descer. O tio João já está pertinho. Presta atenção na professora.\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1020,"y":140,"wires":[[]]},{"id":"6d74a831.e6d3c8","type":"api-call-service","z":"2cd4c47c.1cb57c","name":"Watson","server":"6e09179c.b400c8","service_domain":"tts","service":"watson_tts_say","data":"{\"entity_id\":\"media_player.office_speaker2, media_player.kitchen_speaker\",\"message\":\"Lulu, meu amor. Está na hora de descer. A van do colégio já está chegando. Boa aula!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1020,"y":180,"wires":[[]]},{"id":"bc650ea4.944c2","type":"api-call-service","z":"2cd4c47c.1cb57c","name":"Watson","server":"6e09179c.b400c8","service_domain":"tts","service":"watson_tts_say","data":"{\"entity_id\":\"media_player.office_speaker2, media_player.kitchen_speaker\",\"message\":\"Lulu, tá na hora, tá na hora. Tá na hora de descer. Tio João está chegando. E você vai aprender. Boa Aula.\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1020,"y":220,"wires":[[]]},{"id":"2c091ffb.059a7","type":"api-call-service","z":"2cd4c47c.1cb57c","name":"Watson","server":"6e09179c.b400c8","service_domain":"tts","service":"watson_tts_say","data":"{\"entity_id\":\"media_player.office_speaker2, media_player.kitchen_speaker\",\"message\":\"Luiza. o tio João já está pertinho. Vamos descer para pegar a van. Um beijão. Te amo!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1020,"y":260,"wires":[[]]},{"id":"1f572b1f.578dc5","type":"inject","z":"2cd4c47c.1cb57c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":160,"wires":[["e185d527.b66148"]]},{"id":"6e8738bc.43a4a8","type":"api-current-state","z":"2cd4c47c.1cb57c","name":"Botão Feriado ?","server":"6e09179c.b400c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.feriado","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":240,"y":100,"wires":[[],["e185d527.b66148"]]},{"id":"de166b93.ea8f18","type":"bigtimer","z":"2cd4c47c.1cb57c","outtopic":"","outpayload1":"on","outpayload2":"","name":"Big Timer","comment":"","lat":"-23.0047547","lon":"-43.3723777","starttime":"420","endtime":"10001","starttime2":0,"endtime2":0,"startoff":"0","endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":80,"y":100,"wires":[["6e8738bc.43a4a8"],[],[]]},{"id":"e25a6f9d.777ae","type":"api-call-service","z":"2cd4c47c.1cb57c","name":"Volume 80%","server":"6e09179c.b400c8","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.office_speaker2, media_player.kitchen_speaker\",\"volume_level\":0.8}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":100,"wires":[["f8a840ba.705a3"]]},{"id":"1d4405bc.209eba","type":"comment","z":"2cd4c47c.1cb57c","name":"TTS Luiza Descer Van","info":"","x":120,"y":40,"wires":[]},{"id":"6e93edb.1e37a14","type":"api-call-service","z":"2f95aff8.67722","name":"Watson","server":"6e09179c.b400c8","service_domain":"tts","service":"watson_tts_say","data":"{\"entity_id\":\"media_player.office_speaker2, media_player.master_bedroom\",\"message\":\"{{payload}}\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1260,"y":80,"wires":[[]]},{"id":"ec384c44.ff84c","type":"comment","z":"2f95aff8.67722","name":"Marca Casa Vazia ou Ocupada","info":"","x":170,"y":300,"wires":[]},{"id":"bef34bc9.beeda8","type":"api-call-service","z":"d9a3dff6.c6be6","name":"Tocar MP3","server":"6e09179c.b400c8","service_domain":"media_player","service":"play_media","data":"{\"entity_id\":\"media_player.office_speaker2\",\"media_content_id\":\"http://192.168.1.86:8123/local/boot.mp3\",\"media_content_type\":\"audio/mp3\"}","mergecontext":"","output_location":"payload","output_location_type":"flow","mustacheAltTags":false,"x":290,"y":340,"wires":[[]]},{"id":"64a2717f.c2a1","type":"inject","z":"d9a3dff6.c6be6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":340,"wires":[["bef34bc9.beeda8"]]},{"id":"31f1299d.eec616","type":"inject","z":"d9a3dff6.c6be6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":900,"wires":[["415d3e16.8fbe2"]]},{"id":"415d3e16.8fbe2","type":"api-call-service","z":"d9a3dff6.c6be6","name":"","server":"6e09179c.b400c8","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.escritorio_cubo\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":880,"wires":[[]]},{"id":"8af139c3.9bc3c8","type":"api-call-service","z":"d9a3dff6.c6be6","name":"","server":"6e09179c.b400c8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.escritorio_cubo\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":880,"wires":[["debd406.0dd64c"]]},{"id":"583f514a.40e48","type":"delay","z":"d9a3dff6.c6be6","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":470,"y":980,"wires":[["8af139c3.9bc3c8"]]},{"id":"2d86b969.5ded26","type":"api-current-state","z":"d9a3dff6.c6be6","name":"Avisar por TTS ?","server":"6e09179c.b400c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.auto_aviso_porta_aberta","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":450,"y":1120,"wires":[["415d3e16.8fbe2"],[]]},{"id":"debd406.0dd64c","type":"delay","z":"d9a3dff6.c6be6","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":980,"wires":[["2d86b969.5ded26"]]},{"id":"458dbf6a.c2d23","type":"Discover","z":"d9a3dff6.c6be6","name":"","x":120,"y":500,"wires":[[]]},{"id":"614c0a4d.2fbfc4","type":"RM","z":"d9a3dff6.c6be6","name":"","device":"93bf11a6.3b001","action":"temperature","remote":"","button":"","fix":1,"RFSweep":"false","x":300,"y":500,"wires":[[]]},{"id":"f63c0755.0647f8","type":"delay","z":"be7a8890.19d538","name":"Espera 15 min","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":580,"wires":[["fcfffc3e.e717c"]]}]